{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "ignorePatterns": ["dist/"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser"
}
